.backgroundImage{
    background-color: #FF52E3;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 70px;
}

.startGame{
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ff52e3;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 60;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
}

